html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#divScore { 
  font-size:40px;
  text-align: center;
}
#score {
  color: red;
}
#divRecord {
  font-size: 20px;
  text-align: center;
}
#up {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 700px;
}
#down {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 1150px;
}
#right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 600px;
  right: 0;
  position: absolute;
  top: 900px;
}
#left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 600px;
  position: absolute;
  top: 900px;
}